/*.header {*/
/*	width: 100%;*/
/*	height: 100px;*/
/*	background-color: black;*/
/*}*/

.bodys {
	margin-top: 3%;
	width: 100%;
	height: 800px;
}

/*.footer {*/
/*	width: 100%;*/
/*	height: 200px;*/
/*	background-color: red;*/
/*	margin-top: -150px;*/
/*}*/

.logo1 {
	float: left;  
	width: 400px;
	margin-left: 80px;
	height: 130px;
	margin-top: 30px;
	font-size: 30px;
	font-family: 宋体;
	font-weight: bolder;
	color:white;
}

.img1 {
	width: 80px;
	height: 80px;
	background-color: red;
	border-radius: 50%;
    /* background-image: url(https://img0.baidu.com/it/u=3747594822,2760880229&fm=253&fmt=auto&app=138&f=JPEG?w=100&h=100); */
}

.function1 li{
	display: block;
	float: left;
	margin-right: 10px;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.function1 {
	margin-top: 35px;
	margin-left: 130px;
	float: left;
	width: 400px;
	height: 100px;
	font-size: 25px;
}

.search1 {
	float: left;
	width: 400px;
	height: 140px;
	margin-top: 30px;
	margin-left: -200px;
}

.input1 {
	float: left;
	width: 80%;
	height: 130px;
}

.button1 {
	float: left;
	width: 100px;
	height: 40px;
	/*background-color: #4cae4c;*/
	margin-left: 200px;
	margin-top: -130px;
}

.input1 input {
	width: 200px;
	height: 40px;
	border: 1px solid aqua;
	border-radius: 20px 0 0 20px;
}
.button1 button {
	width: 100px;
	height: 40px;
	border-radius: 0 20px 20px 0;
}

#map-container {
	width: 100%;
	height: 80%;
	background-color: black;
	/*top:-80px;*/
}


