<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
	</head>
	<body>
		<!-- 地图找房项目主页面 -->
		<!-- 我们可以在这个页面里面将房源数据展示出来 -->
		<!-- 头部 -->
		<div class="header">
			<!-- logo信息 -->
			<div class="logo1">
				<div class="img1"></div>
			</div>
			<!-- 功能选项卡 -->
			<div class="function1">
				<div>
					<ul>
						<li>
							<a href="/map1">地图找房</a>
						</li>
						<li>功能二</li>
						<li>功能三</li>
						<li>功能四</li>
					</ul>
				</div>
			</div>
			<!-- 搜索框 -->
			<div class="search1">
				<div class="input1">
					<input type="text" placeholder="请输入关键字"/>
				</div>
				<!-- <div class="button1">
				   <button>搜索</button>
				</div> -->
			</div>
			<!-- 其它信息显示区域 -->
			<div class="others1">
				
			</div>
		</div>
		
		
		<!-- 中间内容 -->
		<div class="bodys">
			<div>
				<ul>
					<li>
						<div>
							<span>
								XXXX
							</span>
							<div>
								<img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00243-434.jpg" width="200px" height="">
							</div>
						</div>
					</li>
					<li>
						<div>
							<span>
								XXXX
							</span>
							<div>
								<img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00243-434.jpg" width="200px" height="">
							</div>
						</div>
					</li>
					<li>
						<div>
							<span>
								XXXX
							</span>
							<div>
								<img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00243-434.jpg" width="200px" height="">
							</div>
						</div>
					</li>
					<li>
						<div>
							<span>
								XXXX
							</span>
							<div>
								<img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00243-434.jpg" width="200px" height="">
							</div>
						</div>
					</li>
					<li>
						<div>
							<span>
								XXXX
							</span>
							<div>
								<img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00243-434.jpg" width="200px" height="">
							</div>
						</div>
					</li>
					<li>
						<div>
							<span>
								XXXX
							</span>
							<div>
								<img src="https://ns-strategy.cdn.bcebos.com/ns-strategy/upload/fc_big_pic/part-00243-434.jpg" width="200px" height="">
							</div>
						</div>
					</li>
				</ul>
				<div>
					<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    <li><a href="#">1</a></li>
					    <li><a href="#">2</a></li>
					    <li><a href="#">3</a></li>
					    <li><a href="#">4</a></li>
					    <li><a href="#">5</a></li>
					    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- 尾部 -->
		<div class="footer">
			
		</div>
	</body>
</html>
