<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<script type="text/javascript" src="js/jquery-3.6.3.min.js"></script>
		<script type="text/javascript">
			window._AMapSecurityConfig = {
				securityJsCode:'e368b9175276cadc71536d5a984f7bf5',
			}
		</script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=666083b22d4375d393cc676393248914"></script>
	</head>
	<body>
		<!-- 地图找房项目主页面 -->
		<!-- 我们可以在这个页面里面将房源数据展示出来 -->
		<!-- 头部 -->
		<div class="header">
			<!-- logo信息 -->
			<div class="logo1">
<!--				<div class="img1"></div>-->
				成都高校查询系统
			</div>
			<!-- 功能选项卡 -->
			<div class="function1">
				<a href="/map1">去列表查找高校</a>
<!--				<div>-->
<!--					<ul>-->
<!--						<li>-->
<!--							<a href="/map1">去列表查找高校</a>-->
<!--						</li>-->
<!--						<li>功能二</li>-->
<!--						<li>功能三</li>-->
<!--						<li>功能四</li>-->
<!--					</ul>-->
<!--				</div>-->
			</div>
			<!-- 搜索框 -->
			<div class="search1">
				<div class="input1">
					<input type="text" placeholder="            搜索高校" id="input2"/>
				</div>
				 <div class="button1">
				   <button onclick="SearchFn()">搜索</button>
				</div>
			</div>
			<!-- 其它信息显示区域 -->
			<div class="others1">

			</div>
		</div>


		<!-- 中间内容 -->
		<div class="bodys">
			<div id="map-container">

			</div>
		</div>

		<!-- 尾部 -->
		<div class="footer">

		</div>
	<script>

		var lnglat ;

		var map = new AMap.Map('map-container',{
			zoom:11,
		});
		var address;

		var autoOptions = {
			input: "input2"
		};

		AMap.plugin(['AMap.PlaceSearch','AMap.AutoComplete'], function(){
			var auto = new AMap.AutoComplete(autoOptions);
			var placeSearch = new AMap.PlaceSearch({
				map: map
			});  //构造地点查询类
			auto.on("select", select);//注册监听，当选中某条记录时会触发
			function select(e) {
				placeSearch.setCity(e.poi.adcode);
				placeSearch.search(e.poi.name);  //关键字查询查询
			}
		});


		function SearchFn(){
			address = $("#input2").val()
			// console.log("-------------")
			// console.log(address)
			AMap.plugin('AMap.Geocoder', function() {
				var geocoder = new AMap.Geocoder({
					// city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
					city: '全国'
				})

				geocoder.getLocation(address, function(status, result) {
					if (status === 'complete' && result.info === 'OK') {
						// result中对应详细地理坐标信息
						console.log("00000000000000000000")
						console.log(result)

						var positionLnglat = [result.geocodes[0].location.lng,result.geocodes[0].location.lat]
						// console.log("(((((((((((((((")
						// console.log(positionLnglat)
						var marker = new AMap.Marker({
							position:positionLnglat
						})
						map.setCenter(positionLnglat)
						map.setZoom(16)
						map.add(marker)
					}
				})
			})

		}
		//插件的异步引入
		AMap.plugin('AMap.Geolocation', function() {
			var geolocation = new AMap.Geolocation({
				// 是否使用高精度定位，默认：true
				enableHighAccuracy: true,
				// 设置定位超时时间，默认：无穷大
				timeout: 10000,
				// 定位按钮的停靠位置的偏移量
				offset: [10, 20],
				//  定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
				zoomToAccuracy: true,
				//  定位按钮的排放位置,  RB表示右下
				position: 'RB'
			})

			geolocation.getCurrentPosition(function(status,result){
				if(status=='complete'){
					console.log("++++++++++++++")
					console.log(result)
					lnglat=[result.position.lng,result.position.lat]
					map.setCenter(lnglat)
				}else{
				}
			});
		})

		AMap.plugin([
			'AMap.ToolBar',
			'AMap.Scale',
			'AMap.OverView',
			'AMap.MapType',
			'AMap.Geolocation',
		], function() {
			// 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
			map.addControl(new AMap.ToolBar());

			// 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺
			map.addControl(new AMap.Scale());

			// 在图面添加鹰眼控件，在地图右下角显示地图的缩略图
			// map.addControl(new AMap.OverView({
			// 	isOpen: true
			// }));

			// 在图面添加类别切换控件，实现默认图层与卫星图、实施交通图层之间切换的控制
			map.addControl(new AMap.MapType());

			// 在图面添加定位控件，用来获取和展示用户主机所在的经纬度位置
			map.addControl(new AMap.Geolocation());
		});

		//使用ready函数
		$(function () {
			address=window.localStorage.getItem("address");
			if (address){
				window.localStorage.setItem("address","");
				AMap.plugin('AMap.Geocoder', function() {
					var geocoder = new AMap.Geocoder({
						// city 指定进行编码查询的城市，支持传入城市名、adcode 和 citycode
						city: '全国'
					})
					geocoder.getLocation(address, function(status, result) {
						if (status === 'complete' && result.info === 'OK') {
							// result中对应详细地理坐标信息
							console.log(result)
							var positionLnglat = [result.geocodes[0].location.lng,result.geocodes[0].location.lat]
							var marker = new AMap.Marker({
								position:positionLnglat
							})
							map.setCenter(positionLnglat)
							map.setZoom(16)
							map.add(marker)
						}
					})
				})
			}

		});
	</script>
	</body>
</html>
