<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/bootstrap.css" />
		<script src="js/jquery-3.6.3.min.js"></script>
		<script type="text/javascript">
		        window._AMapSecurityConfig = {
		            securityJsCode:'927ddda7a4d21c0bc096881ed97ebdd7',
		        }
		</script>
		<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=c66a8c1b4e69953eaa80e79401d4d55b"></script> 
	</head>
	<body>
		<!-- 地图找房项目主页面 -->
		<!-- 我们可以在这个页面里面将房源数据展示出来 -->
		<!-- 头部 -->
		<div class="header">
			<!-- logo信息 -->
			<div class="logo1">
				<div class="img1"></div>
			</div>
			<!-- 功能选项卡 -->
			<div class="function1">
				<div>
					<ul>
						<li>
							<a>功能一</a>
						</li>
						<li>功能二</li>
						<li>功能三</li>
						<li>功能四</li>
						<li>功能五</li>
					</ul>
				</div>
			</div>
			<!-- 搜索框 -->
			<div class="search1">
				<div class="input1">
					<input type="text" placeholder="请输入关键字"/>
				</div>
				<!-- <div class="button1">
				   <button>搜索</button>
				</div> -->
			</div>
			<!-- 其它信息显示区域 -->
			<div class="others1">
				
			</div>
		</div>
		
		
		<!-- 中间内容 -->
		<div class="bodys2" id="map-container">
		    
		</div>
		
		<!-- 尾部 -->
		<div class="footer">
			
		</div>
		<script>
		   var map;
		   $(function(){
			   map = new AMap.Map('map-container',{
				   zoom:16,
			   })
		   })
		
		</script>
	</body>
</html>
